*{
    margin: 0;
    padding: 0;
}
.container{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
}
.div-one{
   
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    border-image: url('img1.png') round;
     border-image-slice: calc(10 / 250 * 100%) calc(65 / 700 * 100%) fill;
    border-image-width: 30px 48px;
}
.div-two{
    background-color: #eee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   

}
.div-two .image-top{
 
    width: 100%;
}
.div-two .image-bottom{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 60%;
    
}
.div-two #form{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 30%;
    margin: auto;
    align-content: space-around;
    
}
.div-two #form input{
    padding: 10px;
      height: 30px;
      margin-bottom: 20px;
      width: 70%;
      margin: auto;
      border-radius: 5px;
      border: none;
      font-size: 30px;
}
.div-two #form input:hover{
    -webkit-box-shadow: -0.5px 0.5px 5px 5px rgba(122, 122, 122, 0.5);
}
.div-two #form input::placeholder{
text-align: center;
}
.div-two #form button{

 color: #eee;
 background-color: #362b79;
 font-size: 20px;
 width: 30%;
 margin: auto;
 height: 40px;
}

.div-two #demo{
 
   padding: 10px;
     width: 45%;
    position: absolute;
    top: 60%;
    right: 10%;
     height: 200px;
     display: none;
     grid-template-columns: 1fr 1fr;
     font-size: 20px;
     border-radius:5px
     
}
.div-two #demo .img img{

margin-right: 10px;

}
.div-two #demo .img{
     
    display: flex;
    flex-direction: row;
    align-items: center;

}

